---
---
$base-font-family: 'IBM Plex Serif', times, serif !default;
$text-color:       rgb(29, 45, 53) !default;
$brand-color:      rgb(109, 150, 134) !default;

@import "minima";

blockquote {
    color: $text-color;
    font-style: normal;
}

.resume-header {
    display: flex;
    justify-content: space-between;
}

.float-right {
    img {
        border-radius: 100%;
    }
}

@media screen and (min-width: 800px) {
    .float-right {
        float:right;
        padding-left:16px;
        width: 256px;
        img {
            width:256px;
        }
    }
}

@media screen and (max-width: 799px) {
    .float-right {
        img {
            padding-bottom: 16px;
        }
    }
}

dd {
    margin-left: 40px;
}

dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

article {
    a {
        text-decoration: underline;
    }
}
